<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/ionicons.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">


  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
  <link href="css/ionic.app.css" rel="stylesheet">
-->

<!-- ionic/angularjs js -->
<script src="lib/ionic/js/ionic.bundle.js"></script>

<!-- your app's js -->
<script src="js/app.js"></script>

<!-- cordova script (this will be a 404 during development) -->
<script src="cordova.js"></script>


</head>

<body ng-app="app" ng-controller="JourneyPlannerCtrl">

  <ion-pane>
    <ion-header-bar class="bar bar-header bar-energized">
      <h1 class="title">{{title}}</h1>
      <!-- button to trigger address entry modal-->
      <button class="button button-icon" ng-click="showInputModal()">
        <i class="icon ion-ios-search"></i>
      </button>
    </ion-header-bar>

    <ion-content>
      <!--Route list-->
      <ion-list>
        <div ng-repeat="route in routes">
          <ion-item class="item-stable"
          ng-click="toggleRoute(route)"
          >
          <!--To Do: Make filter for times-->
          <div class="row">
            <ul id="route-list" class="col-90">
              <li ng-repeat="leg in route[0].legs" class="padding-right">
                <span ng-if="leg.type == 'walk'">
                  <i class="icon ion-android-walk dark-grey-text"></i>
                </span>
                <span ng-if="leg.type == 1 ||
                              leg.type == 3 ||
                              leg.type == 4 ||
                              leg.type == 5 ||
                              leg.type == 8 ||
                              leg.type == 22 ||
                              leg.type == 25 ||
                              leg.type == 36 ||
                              leg.type == 39">
                  <i class="icon ion-android-bus positive"></i>
                </span>
                <span ng-if="leg.type == 6">
                  <i class="icon ion-android-subway assertive"></i>
                </span>
                <span ng-if="leg.type == 7">
                  <i class="icon ion-android-boat positive"></i>
                </span>
                <span ng-if="leg.type == 2">
                  <i class="icon ion-android-train energized"></i>
                </span>
                <span ng-if="leg.type == 12 ||
                              leg.type == 21 ||
                              leg.type == 23 ||
                              leg.type == 24">
                <i class="icon ion-android-subway balanced"></i>
                </span>
            </li>
          </ul>
        </div>

        <div class="row mid-grey-text">
          <div class="col">
            Departure:{{route[0].legs[0].locs[0].depTime | time}}</br>

              Arrival:{{route[0].legs[route[0].legs.length - 1].locs[route[0].legs[route[0]
                .legs.length - 1].locs.length - 1].arrTime | time}}
          </div>
          <div class="col">
            {{route[0].length / 1000 | number: 1}}km</br>
            {{route[0].duration / 60 | number: 0}}m
          </div>
        </div>
    </ion-item>

    <!--route details with accordian effect-->
    <ion-item class="item-accordion active" ng-show="isRouteShown(route)">
      <ul>
        <li class="positive">{{origin}}</li>
        <li ng-repeat="leg in route[0].legs" ng-click="legListToggle = legListToggle ? false : true">
          <span ng-if="leg.type == 'walk'" class="dark-grey-text">
            <i class="icon ion-android-walk"></i> {{leg.length /1000 | number: 1}}km
          </span>
          <span ng-if="leg.type == 1 ||
                        leg.type == 3 ||
                        leg.type == 4 ||
                        leg.type == 5 ||
                        leg.type == 8 ||
                        leg.type == 22 ||
                        leg.type == 25 ||
                        leg.type == 36 ||
                        leg.type == 39">
          <i class="icon ion-android-bus positive"></i>
          {{leg.code}}
        </span>
        <span ng-if="leg.type == 6">
          <i class="icon ion-android-subway assertive"></i>
          Metro
        </span>
        <span ng-if="leg.type == 7">
          <i class="icon ion-android-boat positive"></i>
          {{leg.code}}
        </span>
        <span ng-if="leg.type == 2">
          <i class="icon ion-android-train energized"></i>
          {{leg.code}}
        </span>
        <span ng-if="leg.type == 12 ||
        leg.type == 21 ||
        leg.type == 23 ||
        leg.type == 24">
        <i class="icon ion-android-subway balanced"></i>
        {{leg.code}}
        </span>


          <ul class="small-text mid-grey-text" ng-show="legListToggle">
            <li ng-if="leg.type != 'walk'" ng-repeat="loc in leg.locs">
              {{loc.name}}({{loc.shortCode}})

              <span class="positive">{{loc.arrTime | time}}</span>
            </li>
          </ul>
          </li>
          <li class="positive">{{destination}}</li>
        </ul>
    </ion-item>
  </div>
</ion-list>
</ion-content>
</ion-pane>

<!-- Modal -->
<script id="input-modal.html" type="text/ng-template">

<div class="modal" id="modal">

<!-- Modal header bar -->
  <ion-header-bar class="bar-secondary bar-balanced">
    <h1 class="title">Going somewhere?</h1>
    <button class="button button-clear" ng-click="closeInputModal()">
      <i class="icon ion-ios-close-empty"></i>
    </button>
  </ion-header-bar>

<!-- Modal content area -->
  <ion-content>
    <form ng-submit="getRoutes(origin, destination)">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="From here" ng-model="origin" autofocus>
        </label>
        <label class="item item-input">
          <input type="text" placeholder="To there" ng-model="destination">
        </label>


        <div class="item row padding">
          <ul class="list">
            <li >
              <label class="checkbox">
                <input type="checkbox" ng-model="transportTypes.bus">
                <i class="icon ion-android-bus"
                  ng-class="transportTypes.bus ? 'positive' : 'grey-text'"></i>
              </label>
            </li>
            <li >
              <label class="checkbox">
                <input type="checkbox" ng-model="transportTypes.train">
                <i class="icon ion-android-subway"
                  ng-class="transportTypes.train ? 'balanced' : 'grey-text'"></i>
              </label>
            </li>
            <li >
              <label class="checkbox">
                <input type="checkbox" ng-model="transportTypes.subway">
                <i class="icon ion-android-subway"
                  ng-class="transportTypes.subway ? 'assertive' : 'grey-text'"></i>
              </label>
            </li>
            <li >
              <label class="checkbox">
                <input type="checkbox" ng-model="transportTypes.tram">
                <i class="icon ion-android-train"
                  ng-class="transportTypes.tram ? 'energized' : 'grey-text'"></i>
              </label>
            </li>
            <li >
              <label class="checkbox">
                <input type="checkbox" ng-model="transportTypes.ferry">
                <i class="icon ion-android-boat"
                  ng-class="transportTypes.ferry ? 'positive' : 'grey-text'"></i>
              </label>
            </li>
          </ul>
        </div>

      <div class="padding">
      <button type="submit" class="button button-block button-positive">Let&apos;s go!</button>
      </div>
      <p>{{modalErrorMessage}}</p>
      <img ng-src="{{preloader}}">
    </form>
  </ion-content>
</div>
</script>
</body>




</html>
