
#route-list li{display:inline;}
ion-list ul {overflow-x:scroll;}

.icon{
  font-size:2em;
}

.modal .item li{
	display:inline;
	border-style:none;
}

.modal .item:nth-child(3){
	border-bottom:none;}

.modal ion-toggle{
	border-style:none;
	float:left;}

.modal ul{
  margin-left:auto;
  margin-right:auto;
}

.modal .checkbox input{display:none;}

.grey-text{color:#B2B2B2;}
.mid-grey-text{color:#666666;}
.dark-grey-text{color:#555555;}
.small-text{font-size:75%;}
